<div class="container">

  <div class="krepselis">
    <div class="add">{{krepselis.qty}} pcs</div>
  </div>

  <div class="produktas" *ngIf="produktas.nuolaida > 0" [ngStyle]="{backgroundColor: 'yellow', color: 'red'}">
    <img src="https://www.ermitazas.lt/out/pictures/master/product/1/323016.jpg" alt="Produktas">
    <h3 class="pavadinimas">{{produktas.pavadinimas}}</h3>
    <div class="kiekis">{{produktas.kiekis}} pcs</div>
    <div klass="kaina">{{produktas.kaina}} EUR</div>
  </div>

  <div class="buttons">
    <button (click)="produktas.perka()" (click)="krepselis.addToBasket()">add to basket</button>
    <button (click)="produktas.grazina()" (click)="krepselis.removeFromBasket()" [disabled]="produktas.kiekis <=0">remove</button>
  </div>
</div>