<div class="produktas">
  <h3 class="pavadinimas" *ngIf="produktas.nuolaida > 0" [ngStyle]="{backgroundColor: 'yellow', color: 'red'}">{{produktas.pavadinimas}}</h3>
  <div klass="kaina">{{produktas.kaina}} EUR</div>
</div>

<div class="skaitliukas">
  <div class="skaicius">{{produktas.kiekis}} vnt</div>

  <img src="https://www.ermitazas.lt/out/pictures/master/product/1/323016.jpg" alt="Produktas">
</div>

<div class="buttons">
  <button (click)="produktas.padidinti()" [disabled]="produktas.kiekis <=0">Prideti +1</button>
  <button (click)="produktas.sumazinti()">Atimti -1</button>
</div>